// title
.title{position: relative;font-size: 36px; font-family: "ProximaNova", sans-serif; color: rgb(0, 0, 0) ; line-height: 1.2 ;text-align: center; padding-bottom: 10px;
    &:after{content: ''; position: absolute; bottom: 0; height: 1px; left: calc(50% - 60px); right: calc(50% - 60px); background-color: #ffcf50;  }
 
}
// faq 
.faq-wrap{ width: 100%; 
    .conteiner{max-width: 1200px; margin: 0 auto; padding: 63px 20px 45px;} 
    .after-block{ padding-top: 43px;
        .headtext{font-size: 18px;font-family: "ProximaNova", sans-serif; color: rgb(0, 0, 0);  line-height: 1.2; text-align: center; padding-bottom: 25px;}
        .accordion{ padding: 0 15px; width: 50%; float: left;
            li{ text-align: center;  padding-bottom: 10px; cursor: pointer;
                h5{font-size: 16px; font-family: "ProximaNova", sans-serif; color: rgb(0, 0, 0);  display: flex; justify-content: center; align-items: center; font-weight: 600; background-color: #cccccc;position: relative; transition: background-color 0.3s; padding: 10px 40px; min-height: 40px;
                }
                .ui-state-default{
                    &:after{content: ''; position: absolute; width: 14px; height: 4px; left: 20px; top: calc(50% - 4px/2); background-color: rgb(0, 0, 0); }
                    &:before{content: ''; position: absolute; width: 4px; height: 14px; left: 25px; top: calc(50% - 14px/2); background-color: rgb(0, 0, 0); transition: all 0.3s;  }
                }
                .ui-state-active{
                    &:before{content: ''; position: absolute; width: 4px; height: 4px; left: 25px; top: calc(50% - 4px/2); background-color: rgb(0, 0, 0);}
                }
                p{ border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 30px 30px 25px; transition: border 0.3s; font-weight: 300; font-size: 16px; font-family: "ProximaNova", sans-serif; color: rgb(108, 108, 108);  line-height: 1.2;}
                
                &:hover{
                    h5{background-color: #ffde86;}
                    p{ border-left: 1px solid #ffde86; border-right: 1px solid #ffde86; border-bottom: 1px solid #ffde86; }
                }
            }
        }
    }   
}

// slider
.slider-wrap{ width: 100%; background-image: url(../images/slider-bg.jpg);
    .conteiner{max-width: 1400px; margin: 0 auto; padding-top: 63px;
        .content-slider{ padding-top: 32px; padding-bottom: 60px;
            .convert-slid{
                .slider-item{padding: 0 6px;
                    .single{border: 2px solid transparent; width: 220px; text-align: center; display: block; text-decoration: none; margin-bottom: 50px; padding: 10px 10px 5px 10px; cursor: pointer; transtion: all 0.5s;  margin: 0 auto 50px; min-height: 225px;
                        &:hover{border: 2px solid #ffffff;}
                        .convert-img{margin-bottom: 38px; width: 100%;
                            img{display: block; margin: 0 auto;}
                        }
                        .descript{
                            p{font-size: 20px; font-family: "ProximaNova", sans-serif; color: rgb(66, 66, 66); font-weight: 700; line-height: 1.2;}
                            b{font-size: 18px; font-family: "ProximaNova", sans-serif;font-weight: 300;  color: rgb(104, 104, 104);line-height: 1.2;}
                        }
                    }
                }
            }
        }
    }
}

.slick-dots { bottom: 0;
    li { margin: 0;
        button { width: 10px; height: 10px; border-radius: 50%; background-color: #ffde86; transition: all 0.3s;
        &:before { display: none; }
        }
    }
    .slick-active button { background-color: #ffb900; }
}
