<section id="five-reason" class="five-reason">
    <div class="five-reason-wrap">
        <div class="mbox">
            <div class="title">
                <h2>5 главных причин заказать</h2>
            </div>
            <div class="content">
                <div class="item">
                    <div class="img"><img src="images/5r-1.png" alt=""></div>
                    <div class="txt">
                        <p>Натуральное дерево</p>
                        <p>Больше уюта, больше настоящего. Только настоящая древесина.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/5r-2.png" alt=""></div>
                    <div class="txt">
                        <p>Простота монтажа</p>
                        <p>Вам не понадобятся гвозди или дрель. Пара часов, и готово!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/5r-1.png" alt=""></div>
                    <div class="txt">
                        <p>Натуральное дерево</p>
                        <p>Больше уюта, больше настоящего. Только настоящая древесина.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/5r-2.png" alt=""></div>
                    <div class="txt">
                        <p>Простота монтажа</p>
                        <p>Вам не понадобятся гвозди или дрель. Пара часов, и готово!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/5r-1.png" alt=""></div>
                    <div class="txt">
                        <p>Натуральное дерево</p>
                        <p>Больше уюта, больше настоящего. Только настоящая древесина.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>