<section id="five-reason" class="five-reason" onselectstart="return false" ondrag="return false" ondragdrop="return false" ondragstart="return false">
    <div class="five-reason-wrap">
        <div class="mbox">
            <div class="title">
                <h2>5 главных причин заказать</h2>
            </div>
            <div class="content">
                <div class="item">
                    <div class="img"><img src="images/5r-1.png" alt="" onselectstart="return false" ondrag="return false" ondragdrop="return false" ondragstart="return false"></div>
                    <div class="txt">
                        <p>Стильный интерьер при минимальных затратах</p>
                        <p>Больше уюта, больше настоящего.Только настоящая древесина.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/5r-2.png" alt="" onselectstart="return false" ondrag="return false" ondragdrop="return false" ondragstart="return false"></div>
                    <div class="txt">
                        <p>Огромное количествовариантов приминение</p>
                        <p>Вам не понадобятся гвозди или
                            дрель. Пара часов, и готово!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/5r-3.png" alt="" onselectstart="return false" ondrag="return false" ondragdrop="return false" ondragstart="return false"></div>
                    <div class="txt">
                        <p>Возможность индивидуальногоподбора цвета</p>
                        <p>Больше уюта, больше настоящего.Только настоящая древесина.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/5r-4.png" alt="" onselectstart="return false" ondrag="return false" ondragdrop="return false" ondragstart="return false"></div>
                    <div class="txt">
                        <p>Индивидуальный подборцвета</p>
                        <p>Вам не понадобятся гвозди или
                            дрель. Пара часов, и готово!</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img"><img src="images/5r-5.png" alt="" onselectstart="return false" ondrag="return false" ondragdrop="return false" ondragstart="return false"></div>
                    <div class="txt">
                        <p>Выезд технологана объкт</p>
                        <p>Больше уюта, больше настоящего. Только настоящая древесина.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>