<section class="color-panel" id="color-panel" onselectstart="return false" ondrag="return false" ondragdrop="return false" ondragstart="return false">
    <div class="mbox">
        <div class="title">
            <h2>Цвета панелей</h2>
        </div>
        <div class="content">
            <div class="big block">
                <div class="block-title"><span>Дуб белые поры</span></div>
                <div class="img"><img src="images/ci02.jpg" alt=""></div>
            </div>
            <div class="little">
                <div class="little-item block active">
                    <div class="block-title"><span>Дуб белые поры</span></div>
                    <div class="img"><img src="images/ci02.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Орех натуральный</span></div>
                    <div class="img"><img src="images/ci01.jpg" alt=""></div>
                </div>
                <div class="little-item block ">
                    <div class="block-title"><span class="black">Дуб беленый много текста чтоб норм смотрелся</span></div>
                    <div class="img"><img src="images/ci03.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Дуб коричневый</span></div>
                    <div class="img"><img src="images/ci04.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Орех мореный</span></div>
                    <div class="img"><img src="images/ci05.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Дуб черныий</span></div>
                    <div class="img"><img src="images/ci06.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Дуб натуральный</span></div>
                    <div class="img"><img src="images/ci07.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Дуб красный</span></div>
                    <div class="img"><img src="images/ci08.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Ясень белый</span></div>
                    <div class="img"><img src="images/ci09.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Ясень коричневый</span></div>
                    <div class="img"><img src="images/ci10.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Ясень красный</span></div>
                    <div class="img"><img src="images/ci11.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Ясень черный</span></div>
                    <div class="img"><img src="images/ci12.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Дуб белые поры</span></div>
                    <div class="img"><img src="images/ci02.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Орех натуральный</span></div>
                    <div class="img"><img src="images/ci01.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span class="black">Дуб беленый много текста чтоб норм смотрелся</span></div>
                    <div class="img"><img src="images/ci03.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Дуб коричневый</span></div>
                    <div class="img"><img src="images/ci04.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Орех мореный</span></div>
                    <div class="img"><img src="images/ci05.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Дуб черныий</span></div>
                    <div class="img"><img src="images/ci06.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Дуб натуральный</span></div>
                    <div class="img"><img src="images/ci07.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Дуб красный</span></div>
                    <div class="img"><img src="images/ci08.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Ясень белый</span></div>
                    <div class="img"><img src="images/ci09.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Ясень коричневый</span></div>
                    <div class="img"><img src="images/ci10.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Ясень красный</span></div>
                    <div class="img"><img src="images/ci11.jpg" alt=""></div>
                </div>
                <div class="little-item block">
                    <div class="block-title"><span>Ясень черный</span></div>
                    <div class="img"><img src="images/ci12.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>