<section id="contacts" class="contacts">
    <div class="contacts-wrap">
        <div class="mbox cfix">
            <div class="txt">
                <p>У ВАС ОСТАЛИСЬ ВОПРОСЫ</p>
                <p>ЗАДАЙТЕ ИХ НАМ</p>
                <p>НАПИСАВ СООБЩЕНИЕ</p>
            </div>
            <div class="contact-form-wrap">
                <form action="ajax.php" name="contacts-form" class="contacts-form">
                            <div class="form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                </div>
                            </div>
                            <div class="form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                                </div>
                            </div>
                            <div class="form_row">
                                <div class="form_input">
                                    <input type="text" name="userEmail" required="required" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="form_row">
                                <div class="form_input">
                                    <textarea type="text" name="message" required="required" placeholder="Сообщение"></textarea>
                                </div>
                            </div>
                            <div class="form_row">
                                <button type="submit">
                                    <span>отправить</span>
                                </button>
                            </div>
                        </form>
            </div>
        </div>
    </div>
</section>