<section class="description-panel" id="description-panel">
    <div class="mbox">
        <div class="title"><h2>Описание панелей</h2></div>
        <div class="content">
            <div class="download"><a href="">скачать каталог PDF</a></div>
            <div class="imgs-wrap slider-descr">
                <div class="img one-item"><img src="images/di01.jpg" alt=""></div>
                <div class="img one-item"><img src="images/di01.jpg" alt=""></div>
                <div class="img one-item"><img src="images/di01.jpg" alt=""></div>
                <div class="img one-item"><img src="images/di01.jpg" alt=""></div>
                <div class="img one-item"><img src="images/di01.jpg" alt=""></div>
                <div class="img one-item"><img src="images/di01.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>