<section id="faq">
    <div class="faq-wrap">
        <div class="conteiner">
            <div class="title">
                <h2>FAQ</h2>
            </div>
            <div class="after-block">
                <div class="headtext">Часто задваваемые вопросы</div>
                <div class="conteiner-swapper cfix">
                    <ul class="accordion1 accordion">
                        <li>
                            <h5>Какого размера планки?</h5>
                            <p>
                                В длину они варьируются от 40 до 100 см. Ширина - 12 см. Толщина - всего 4,5 мм, что делает их особенно ценными для небольших 
                            </p>
                        </li>
                        <li>
                            <h5>Насколько надежен такой способ крепления?</h5>
                            <p>
                                В длину они варьируются от 40 до 100 см. Ширина - 12 см. Толщина - всего 4,5 мм, что делает их особенно ценными для небольших 
                            </p>
                        </li>
                        <li>
                            <h5>Для каких поверхностей можно это использовать?</h5>
                            <p>
                                В длину они варьируются от 40 до 100 см. Ширина - 12 см. Толщина - всего 4,5 мм, что делает их особенно ценными для небольших 
                            </p>
                        </li>
                        <li>
                            <h5>Для каких поверхностей можно это использовать?</h5>
                            <p>
                                В длину они варьируются от 40 до 100 см. Ширина - 12 см. Толщина - всего 4,5 мм, что делает их особенно ценными для небольших 
                            </p>
                        </li>
                        <li>
                            <h5>Можно ли использовать планки для ванной?</h5>
                            <p>
                                В длину они варьируются от 40 до 100 см. Ширина - 12 см. Толщина - всего 4,5 мм, что делает их особенно ценными для небольших 
                            </p>
                        </li>
                        <li>
                            <h5>Заказ и изготовление</h5>
                            <p>
                                В длину они варьируются от 40 до 100 см. Ширина - 12 см. Толщина - всего 4,5 мм, что делает их особенно ценными для небольших 
                            </p>
                        </li>
                    </ul>
                    <ul class="accordion2 accordion">
                        <li>
                            <h5>Как посчитать, сколько мне нужно заказать?</h5>
                            <p>
                                В длину они варьируются от 40 до 100 см. Ширина - 12 см. Толщина - всего 4,5 мм, что делает их особенно ценными для небольших 
                            </p>
                        </li>
                        <li>
                            <h5>Как я могу заказать такое покрытие?</h5>
                            <p>
                                В длину они варьируются от 40 до 100 см. Ширина - 12 см. Толщина - всего 4,5 мм, что делает их особенно ценными для небольших 
                            </p>
                        </li>
                        <li>
                            <h5>Требуется ли особый уход за покрытием?</h5>
                            <p>
                                В длину они варьируются от 40 до 100 см. Ширина - 12 см. Толщина - всего 4,5 мм, что делает их особенно ценными для небольших 
                            </p>
                        </li>
                        <li>
                            <h5>Можно ли использовать для наружной отделки?</h5>
                            <p>
                                В длину они варьируются от 40 до 100 см. Ширина - 12 см. Толщина - всего 4,5 мм, что делает их особенно ценными для небольших 
                            </p>
                        </li>
                        <li>
                            <h5>Оплата и доставка</h5>
                            <p>
                                Оплатить заказ можно, отправив деньги как на расчетный счет 
компании в банке, так и другими способами онлайн платежей. Все необходимые данные мы отправим на ваш e-mail послеподтверждения заказа. Доставка ведется по всей РФ. Стоимость зависит от объема заказа. При оформлении мы сможем подсчитать ее точную цену.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>