<section class="how-it-works">
    <div class="mbox">
        <div class="how-it-works-wrap">
            <div class="title">
                <h2>Как все устроено</h2>
            </div>
            <div class="big-title">ОТ ЗАКАЗА ДО ГОТОВОЙ СТЕНЫ ВСЕГО 3 ДНЯ</div>
            <div class="how-it-works-main">
                <div class="how-it-works-item">
                    <div class="how-it-works-cirle">
                        <span class="img-wrap">
                            <img src="images/how-it-work-item1.png" alt="" />
                        </span>
                        <span class="img-text">01</span>
                    </div>
                    <div class="how-it-works-descript">
                        <div class="descript-title">РАЗРАБОТКА ДИЗАЙНА</div>
                        <div class="descript-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</div>
                    </div>
                </div>
                <div class="how-it-works-item">
                    <div class="how-it-works-cirle">
                        <span class="img-wrap">
                            <img src="images/how-it-work-item2.png" alt="" />
                        </span>
                        <span class="img-text">02</span>
                    </div>
                    <div class="how-it-works-descript">
                        <div class="descript-title">ПРОИЗВОДСТВО ПАНЕЛЕЙ</div>
                        <div class="descript-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</div>
                    </div>
                </div>
                <div class="how-it-works-item">
                    <div class="how-it-works-cirle">
                        <span class="img-wrap">
                            <img src="images/how-it-work-item3.png" alt="" />
                        </span>
                        <span class="img-text">03</span>
                    </div>
                    <div class="how-it-works-descript">
                        <div class="descript-title">МОНТАЖ ПАНЕЛЕЙ</div>
                        <div class="descript-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>