<section id="how-it-works" class="how-it-works" onselectstart="return false" ondrag="return false" ondragdrop="return false" ondragstart="return false">
    <div class="mbox">
        <div class="how-it-works-wrap">
            <div class="title">
                <h2>Как все устроено</h2>
            </div>
            <div class="big-title">ОТ ЗАКАЗА ДО ГОТОВОЙ СТЕНЫ ВСЕГО 3 ДНЯ</div>
            <div class="how-it-works-main">
                <div class="how-it-works-item">
                    <div class="how-it-works-cirle">
                        <span class="img-wrap">
                            <img src="images/how-it-work-item1.png" alt="" />
                        </span>
                        <span class="img-text">01</span>
                    </div>
                    <div class="txt">
                        <p>РАЗРАБОТКА ДИЗАЙНА</p>
                        <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                    </div>
                </div>
                <div class="qudro-pupter">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="how-it-works-item">
                    <div class="how-it-works-cirle">
                        <span class="img-wrap">
                            <img src="images/how-it-work-item4.png" alt="" />
                        </span>
                        <span class="img-text">02</span>
                    </div>
                    <div class="how-it-works-descript">
                        <div class="descript-title"></div>
                        <div class="descript-text"></div>
                    </div>
                    <div class="txt">
                        <p>ПРОИЗВОДСТВО ПАНЕЛЕЙ</p>
                        <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                    </div>
                </div>
                <div class="qudro-pupter">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="how-it-works-item">
                    <div class="how-it-works-cirle">
                        <span class="img-wrap">
                            <img src="images/how-it-work-item2.png" alt="" />
                        </span>
                        <span class="img-text">03</span>
                    </div>

                    <div class="txt">
                        <p>МОНТАЖ ПАНЕЛЕЙ</p>
                        <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>