<section id="top-block" class="top-block">
    <div class="top-block-wrap">
        <div class="top-block-align mbox cfix">
            <h1>
                <p>ИНТЕРЬЕРНЫЕ</p>
                <p>ДЕРЕВЬЯННЫЕ</p>
                <p>ПАНЕЛИ ДЛЯ СТЕН</p>
                <p>И ДРУГИХ ПОВЕРХНОСТЕЙ</p>
            </h1>
            <div class="column1">
                <div class="img"><img src="images/h1.jpg" alt=""></div>
                <div class="form-button">
                    <div class="show-form"><i></i><span>заказать</span></div>
                    <div class="order-form-wrap">
                        <form action="ajax.php" name="order-form" class="order-form">
                            <div class="form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                </div>
                            </div>
                            <div class="form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                                </div>
                            </div>
                            <div class="form_row">
                                <div class="form_input">
                                    <input type="text" name="email" required="required" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="form_row">
                                <button type="submit">
                                    <span>заказать</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column2">
                <div class="img"><img src="images/h2-1.jpg" alt=""></div>
                <div class="img"><img src="images/h2-2.jpg" alt=""></div>
            </div>
            <div class="column3">
                <div class="img"><img src="images/h3-1.jpg" alt=""></div>
                <div class="img"><img src="images/h3-2.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>