<section id="top-slider" class="top-slider">
    <div class="top-slider-wrap">
        <div class="mbox">
            <title>
                <h2>Примеры в интерьерах</h2>
            </title>
            <div class="slider-top">
                <div class="slide">
                    <div class="img"><img src="images/ts1.jpg" alt=""></div>
                </div>
                <div class="slide">
                    <div class="img"><img src="images/ts2.jpg" alt=""></div>
                </div>
                <div class="slide">
                    <div class="img"><img src="images/ts3.jpg" alt=""></div>
                </div>
                <div class="slide">
                    <div class="img"><img src="images/ts4.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>