<section id="top-slider" class="top-slider">
    <div class="top-slider-wrap">
        <div class="mbox">
            <div class="title">
                <h2>Примеры в интерьерах</h2>
            </div>
            <div class="slider-top">
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/ts1.jpg" tabindex="0"><!-- big foto for popup-->
                        <div class="price_items">90000 руб.</div>
                        <div class="img-wrap"><img src="images/ts1.jpg" alt=""></div> <!-- foto thumbs-->
                        <div class="title_items">Две стены гостинная 36 кв. м.</div>
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/ts2.jpg" tabindex="0">
                        <div class="price_items">90000 руб.</div>
                        <div class="img-wrap"><img src="images/ts2.jpg" alt=""></div>
                        <div class="title_items">Две стены гостинная 36 кв. м.</div>
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/ts3.jpg" tabindex="0">
                        <div class="price_items">90000 руб.</div>
                        <div class="img-wrap"><img src="images/h2-2.jpg" alt=""></div>
                        <div class="title_items">Две стены гостинная 36 кв. м.</div>
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/ts4.jpg" tabindex="0">
                        <div class="price_items">90000 руб.</div>
                        <div class="img-wrap"><img src="images/ts4.jpg" alt=""></div>
                        <div class="title_items">Две стены гостинная 36 кв. м.</div>
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/ts1.jpg" tabindex="0">
                        <div class="price_items">90000 руб.</div>
                        <div class="img-wrap"><img src="images/ts1.jpg" alt=""></div>
                        <div class="title_items">Две стены гостинная 36 кв. м.</div>
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/ts2.jpg" tabindex="0">
                        <div class="price_items">90000 руб.</div>
                        <div class="img-wrap"><img src="images/ts2.jpg" alt=""></div>
                        <div class="title_items">Две стены гостинная 36 кв. м.</div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>