<section id="top-slider" class="top-slider">
    <div class="top-slider-wrap">
        <div class="mbox">
            <div class="title">
                <h2>Примеры в интерьерах</h2>
            </div>
            <div class="slider-top">
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/sl1.jpg" >
                        <img src="images/ts1.jpg" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/sl2.jpg" >
                        <img src="images/ts2.jpg" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/sl3.jpg" >
                        <img src="images/ts3.jpg" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/sl4.jpg" >
                        <img src="images/ts4.jpg" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/sl1.jpg" >
                        <img src="images/ts1.jpg" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/sl2.jpg" >
                        <img src="images/ts2.jpg" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/sl3.jpg" >
                        <img src="images/ts3.jpg" alt="" />
                    </a>
                </div>
                <div class="slide">
                    <a class="fancybox img" rel="gallery1" href="images/sl4.jpg" >
                        <img src="images/ts4.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>