@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

    /* footer */

        .footer{

            .show-notebook{display: block;}
            .hide-notebook{display: none;}

            .footer-wrap{flex-wrap:wrap;justify-content:space-around;}
            .footer-left{margin-bottom: 15px;
                .footer-logo{margin-top: 0px;margin-bottom: 15px;}
            }
            .footer-nav{margin-top: 0;
                ul{display: flex;flex-wrap:wrap;justify-content:space-around;
                    li{margin-bottom: 15px;}
                }
            }
            .footer-right{width: 100%;display: flex;justify-content:space-around;align-items:center;text-align: center;flex-wrap:wrap;
                p{padding: 0 5px;
                    &:last-child{margin-bottom: 10px;}
                }
            }
        }

    /* /footer */

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}