/*header*/
     @media screen and (max-width: 1600px){
        .header-wrap{padding: 0  20px;
            nav{  padding-left: 0px; margin-left: -100px;}
        }
    }
     @media screen and (max-width: 1280px){
        .header-wrap{padding: 0  20px;
            nav{  padding-left: 0px; margin-left: 0;}
            li{    margin-left: 15px;}
            .tel{padding-top: 24px;
                a{display: block;margin-bottom: 5px;
                    &:last-child{margin-left:0;}
                }
            }
        }
    }
     @media screen and (max-width: 992px){
            .header-wrap{text-align: center;
                .butter{display: block;}
                ul{display: none; position: absolute; background-color: #fff; left: -156px; top: 68px;  width: 300px; border-radius: 8px; box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3); padding: 10px 0;}
                li{display: block; padding: 10px 0; margin-left: 0;}
            }
     }
     @media screen and (max-width: 480px){
            .header-wrap{ height: auto; padding-bottom: 10px;
                .logo{width: 100%;text-align: left;}
                .tel{float:left;width: 100%; text-align: left;}
                nav{position: absolute;   right: 50px; bottom: 70px;}
                ul{left: -260px;}
            }
     }
/*END header*/


/*top-block*/
    @media screen and (max-width: 1600px){
        .top-block{
            .top-block-wrap{
                .column3{display: none;}
            }
        }
    }
    @media screen and (max-width: 1280px){
        .top-block{
            .top-block-wrap{
                .column1{border-right: 0;}
                .column2{display: none;}
            }
        }
    }
    @media screen and (max-width:992px){
        .top-block{
            .top-block-wrap{
                h1{padding-top: 212px; max-width: 410px;
                p{
                    &:nth-child(1){font: 800 55px/40px 'ProximaNova'; }
                    &:nth-child(2){font: 300 50px/50px 'ProximaNova';     letter-spacing: 7px;}
                    &:nth-child(3){font: 700 40px/40px 'ProximaNova'; }
                    &:nth-child(4){font: 700 25px/25px 'ProximaNova'; }
                }
            }
            }
        }
    }
     @media screen and (max-width:666px){
        .top-block{
            .top-block-wrap{
                h1{padding-top:90px; }
            }
        }
    }
    @media screen and (max-width:480px){
        .top-block{
            .top-block-wrap{
                h1{padding-top:60px; max-width: 410px;
                    p{
                        &:nth-child(1){font: 800 40px/40px 'ProximaNova'; }
                        &:nth-child(2){font: 300 40px/40px 'ProximaNova';     letter-spacing: 2px;}
                        &:nth-child(3){font: 700 30px/30px 'ProximaNova'; }
                        &:nth-child(4){font: 700 16px/16px 'ProximaNova'; padding-top: 5px;}
                    }
                }
            }
        }
    }
/*End top-block*/
/*top-slider*/
    @media screen and (max-width:992px){
        .top-slider{    padding: 45px 0 90px;}
    }
    @media screen and (max-width:480px){
        .top-slider{    padding: 30px 0 60px;
            .top-slider-wrap{
                .slick-dots{ bottom: -40px;}
            }
        }
    }
/*END top-slider*/
/*5reason*/
    @media screen and (max-width:1366px){
       .five-reason{
           .five-reason-wrap{
               .content{flex-wrap:wrap;justify-content: center; padding: 65px 0px 0;}
               .item{max-width: 220px; width: 100%;}
               .img{}
               .txt{
                    p{
                        &:first-child{}
                    }
               }
           }
       }
    }
     @media screen and (max-width:480px){
       .five-reason{
           .five-reason-wrap{
               .content{flex-wrap:wrap;justify-content: center; }
               .item{max-width: 220px; width: 100%;}
               .img{}
               .txt{
                    p{
                        &:first-child{}
                    }
               }
           }
       }
    }
/*END 5reason*/
/*contacts*/
     @media screen and (max-width:1100px){
         .contacts{
            .contacts-wrap{padding-top: 0;
                .txt{margin-right: 0;}
                .contact-form-wrap{
                    .form_row{padding-bottom: 10px;}
                }
            }
        }
    }
    @media screen and (max-width:710px){
         .contacts{
            .contacts-wrap{ min-height: auto;
                .mbox{padding: 0 20px;}
                .txt{padding-top: 35px;  padding-bottom: 30px;
                    p{ font: 700 26px/26px 'ProximaNova'; margin-bottom: 5px;
                    &:nth-child(2){font: 700 38px/38px 'ProximaNova';}
                    &:nth-child(3){ color:#c29870;background-color: #fff;  letter-spacing: 3px;}
                }
                }
            }
        }
    }
    @media screen and (max-width:480px){
         .contacts{
            .contacts-wrap{
                .txt{
                    p{ font: 700 18px/18px 'ProximaNova'; margin-bottom: 5px;
                    &:nth-child(2){font: 700 26px/26px 'ProximaNova';}
                    &:nth-child(3){ color:#c29870;background-color: #fff;  letter-spacing: 3px;}
                }
                }
            }
        }
    }
/*END contacts*/
/*how it works*/
     @media screen and (max-width:1040px){
        .how-it-works{

            .how-it-works-item{
                &:first-child{.txt{padding-left: 0;}}
                &:last-child{.txt{padding-left: 0;}}
             }
         }
     }
    @media screen and (max-width:992px){
        .how-it-works{
            .qudro-pupter{display: none;}
            .txt{padding: 0 10px;
                p{font: 300 16px/20px 'ProximaNova';
                    &:first-child{font: 600 22px/22px 'ProximaNova';    padding-bottom: 23px;}
                }
            }
        }
    }
    @media screen and (max-width:830px){
        .how-it-works{
            .how-it-works-wrap{  padding: 30px 20px 30px;}
            .big-title{font: 400 26px/30px 'ProximaNova';}
            .how-it-works-main{display: block;}
            .how-it-works-item{max-width: none; padding-bottom: 35px;}
            .qudro-pupter{display: none;}
            .txt{text-align: center; max-width: 300px;}
        }
    }
/*END how it works*/